<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lcm.lanpush">

    <application
        android:name=".LanpushApp"
        android:allowBackup="true"
        android:icon="@drawable/lanpush"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lanpush"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lanpush">
        <activity
            android:name=".SelectionActivity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.Lanpush.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".alarms.CheckAlarm" android:exported="true"/>
        <receiver android:name=".alarms.PeriodicCheckAlarm" android:exported="true"/>
        <receiver android:name=".AutoStart" android:enabled="true" android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"></action>
                <action android:name="android.intent.action.QUICKBOOT_POWEROFF"></action>
            </intent-filter>
        </receiver>
<!--        <service-->
<!--            android:name=".ListenningService"-->
<!--            android:enabled="true"-->
<!--            android:process=":your_service" >-->
<!--        </service>-->

        <receiver android:name=".notification.ClipboardAction" android:exported="true"/>
       <!-- <receiver android:name=".BrowserAction" android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </receiver>-->

    </application>

    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
<!--    <uses-permission android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS" />-->

</manifest>